<!-- start: Main Menu -->
<div class="span3 main-menu-span">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Navigation</li>
            <li><a href='{% url tyrion.apps.dashboard.views.index %}'><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>

            <li><a href='{% url tyrion.apps.storage.views.index %}'><i class="icon-hdd"></i><span class="hidden-tablet"> Storage</span></a></li>

            <li><a href="form.html"><i class="icon-tasks"></i><span class="hidden-tablet"> Jobs</span></a></li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->
<!-- end: Main Menu -->
