<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>HaaS</title>
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    {% include "_css.html" %}
    
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
        
</head>

<body>
        <div class="container-fluid">
        <div class="row-fluid">
                    
            <div class="row-fluid">
                <div class="login-box">
                    <div class="icons">
                        <a href="#"><i class="icon-home"></i></a>
                        <a href="#"><i class="icon-cog"></i></a>
                    </div>
                    <h2>Login to your account</h2>

                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

                            <div class="input-prepend" title="Username">
                                <span class="add-on"><i class="icon-user"></i></span>
                                <input class="input-large span10" name="{{ form.identification.html_name }}" id="username" type="text" placeholder="type username"/>
                            </div>
                            <div class="clearfix"></div>

                            <div class="input-prepend" title="Password">
                                <span class="add-on"><i class="icon-lock"></i></span>
                                <input class="input-large span10" name="{{ form.password.html_name }}" id="password" type="password" placeholder="type password"/>
                            </div>
                            <div class="clearfix"></div>
                            
                            <label class="remember" for="remember"><input type="checkbox" id="remember" name="{{ form.remember_me.html_name }}" />Remember me</label>

                            <div class="btn-group button-login">    
                                <button type="submit" class="btn btn-primary"><i class="icon-off icon-white"></i></button>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="clearfix"></div>
                        </fieldset>
                    </form>
                    <hr>
                    <h3>Forgot Password?</h3>
                    <p>
                        No problem, <a href='#'>click here</a> to get a new password.
                    </p>    
                </div><!--/span-->
            </div><!--/row-->
            
                </div><!--/fluid-row-->
                
    </div><!--/.fluid-container-->


    {% include "_javascript.html" %}

    
</body>
</html>
